@charset "utf-8";

body {
    background-color: #9b30ff;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 16pt;
    color: #000000;
}

h1 {
    color: #ffffff;
}

header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    width: 80%;
    margin-left: 10%;
}

#container {
    width: 100%;
}

nav {
    background-color: #ffffff;
    display: inline-block;
    color: #000000;
    padding: 5px;
    width: 80%;
    margin-left: 10%;
    font-weight: bold;
}

nav ul {
    list-style: none;
}

nav ul li {
    float: left;
    padding: 5px;
}

nav ul li a:link, nav ul li a:visited {
    display: block;
    width: 150px;
    margin-right: 4px;
    color: #000000;
    padding: 2px 4px 2px 4px;
    background-color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffffff;
    background-color: #9b30ff;
}
main {
    width: 80%;
    background-color: #ffffff;
    float: left;
    padding: 5px;
    margin-left: 10%;
}

th, td {
    padding: 15px;
    text-align: left;
}

td {
    border-bottom: 1px solid #000;
}

td:last-of-type::before {
    content: "$ ";
}

tbody tr:hover {
    background-color: #d1c842;
}
#menu {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.menu-description {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
footer {
    clear: both;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    margin-left: 10%;
    padding: 5px;
    font-size: 12pt;
    width: 80%;
}