@charset "utf-8";

body {
    background-color: #9b30ff;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 16pt;
    color: #000000;
}

h1 {
    color: #ffffff;
}

header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    width: 80%;
    margin-left: 10%;
}

#container {
    width: 100%;
}

nav {
    background-color: #ffffff;
    display: inline-block;
    color: #000000;
    padding: 5px;
    width: 80%;
    margin-left: 10%;
    font-weight: bold;
}

nav ul {
    list-style: none;
}

nav ul li {
    float: left;
    padding: 5px;
}

nav ul li a:link, nav ul li a:visited {
    display: block;
    width: 150px;
    margin-right: 4px;
    color: #000000;
    padding: 2px 4px 2px 4px;
    background-color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffffff;
    background-color: #9b30ff;
}
main {
    width: 80%;
    background-color: #ffffff;
    float: left;
    padding: 5px;
    margin-left: 10%;
}


/* Designs for the Menu */

#menu {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.menu-description {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

#menu th, td {
    padding: 15px;
    text-align: left;
}

#menu td {
    border-bottom: 1px solid #000;
}

#menu td:last-of-type::before {
    content: "$ ";
}

#menu tbody tr:hover {
    background-color: #d1c842;
}


/* Footer styles  */

footer {
    clear: both;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    margin-left: 10%;
    padding: 5px;
    font-size: 12pt;
    width: 80%;
}

/* Form designs */
input[type=text], input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}
input[type=number] {
    background-color: #c9bd199c;
}
input[type=submit], input[type=reset] {
    width: 100%;
    background-color: #09130a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=reset]:hover {
    background-color: #df1b1b;
}
input[type=submit]:hover {
    background-color: #45a049;
}
input[type=textarea] {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}
#contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 20px;
    padding: 20px;
}

.weekDays-selector input {
    display: none;
  }
  
  .weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    height: 40px;
    width: 30px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }
  
  .weekDays-selector input[type=checkbox]:checked + label {
    background: #2AD705;
    color: #ffffff;
  }